body {
  font-family: 'Roboto', sans-serif;
}
.header{
  display: flex;
    max-width: 100%;
    background-color: #766C4A;
    justify-content: space-around;
}
.logo{
  max-width: 10%;
}
.nav{
  list-style: none;
  display: flex;
  gap: 10px;
  padding: unset;
}
.navigation{
  max-width:50%;
  display: flex;
  align-items: center;
}
.footer{
  display: flex;
    justify-content: center;
    background-color: #766C4A;
    flex-wrap: wrap;
    align-items: center;
}
.footer .logo{
  max-width: 15%;

}
.banner{
  background-image: url(./banner.png);
  height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
a:link {
  text-decoration: inherit;
}

a:visited {
  text-decoration: inherit;
}
.button {
  padding: 10px ;
  color: white;
  font-size: 30px;
  background-color: #CE9744;
}
.banner-text {
  color: white;
  margin-bottom: 10%;
}
.button-wrapper {
  margin-top: 20%;

}
.about{
  background-color: #CE9744;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}